{% extends 'base.html.twig' %}

{% block body %}

    <div class="container border bg-light" style="background-color: #ffffff; color: #000000;">
        <h1 class="text-center my-5 display-6 style="background-color: #ffffff; color: #000000;><strong> Nos véhicules actuellement en vente</strong></h1>
    </div>

    <div class="container py-4 bg-light">
        <div class="row">
            <div class="col-md-2"><!-- Contenu à gauche pour la recherche -->
                <div class="rounded sticky-top" style="top: calc(40px);">
                    <div class="text-center">
                        <h4 class="text-center">Filtrer</h4>
                    </div>
                    
                    <div class="d-flex justify-content-center">
                        {{ form_start(form, {'id': 'my-form'}) }}

                        {{ form_row(form.km, {'attr': {'id': 'km-input'}}) }}
                        {{ form_row(form.selectKm, {'attr': {'id': 'km-select'}}) }}

                        {{ form_row(form.prix, {'attr': {'id': 'prix-input'}}) }}
                        {{ form_row(form.selectPrix, {'attr': {'id': 'prix-select'}}) }}

                        {{ form_row(form.annee, {'attr': {'id': 'annee-input'}}) }}
                        {{ form_row(form.selectAnnee, {'attr': {'id': 'annee-select'}}) }}

                        {{ form_row(form.selectRAZ, {'attr': {'id': 'raz-select'}}) }}

                        {{ form_end(form) }}
                    </div>
                </div>
            </div> 
            
            
            <div class="col-md-10"> 
                {% for voiture in voitures %}
                    {% if not voiture.vendu %}
                        <div class="row mb-5">
                            <div class="col-md-4 mb-3">
                                <div class="voiture-item">
                                    <div class="card d-flex align-items-center justify-content-center">
                                        <h4 class="text-center pt-2">Référence: <span class="reference">{{ voiture.reference }}</span></h4>
                                    </div>

                                    <img class="w-98" src="/uploads/{{ voiture.image }}" alt="image de la voiture">
                                    <div class="d-flex justify-content-between roudedCadrePhoto ">
                                        <h5 class="text-center">kilomètres <br><span class="text-muted">{{ voiture.kilometre }} km</span></h5>
                                        <h5 class="text-center">Prix <br><span class="text-muted">{{ (voiture.prix/100) }} €</span></h5>
                                        <h5 class="text-center">Année <br><span class="text-muted">{{ (voiture.circulation) }}</span></h5>
                                    </div>
                                </div>
                            </div>

                            {# ////////////////////////Photos au milieu et en dessous : Caractérisriques //////////////////////#}
                            {% for gallerieImage in gallerieImages %}
                                {% if gallerieImage.voitures.contains(voiture) %}
                                    <div class="col-md-5 mt-0">
                                        <div class="card d-flex align-items-center justify-content-center my-2">
                                            <h5 class="text-center pt-2">Marque : <span class="reference">{{ voiture.IDmarque.getNom() }} </span>- Modèle : <span class="reference" >{{ voiture.IDmodele.getNom() }} </span></h5>
                                        </div>
                                        
                                        <div class="d-flex align-items-center justify-content-center">
                                            <img class="zoom-image mb-2 w-30 img-fluid" src="/uploads/{{ gallerieImage.img1 }}" alt="image de la voiture">
                                            <img class="zoom-image mb-2 ps-2 w-30 img-fluid" src="/uploads/{{ gallerieImage.img2 }}" alt="image de la voiture">
                                            <img class="zoom-image mb-2 ps-2 w-30 img-fluid" src="/uploads/{{ gallerieImage.img3 }}" alt="image de la voiture">
                                        </div>
                                        <div class="d-flex align-items-center justify-content-center">
                                            <img class="zoom-image w-30 img-fluid" src="/uploads/{{ gallerieImage.img4 }}" alt="image de la voiture">
                                            <img class="zoom-image ps-2 w-30 img-fluid" src="/uploads/{{ gallerieImage.img5 }}" alt="image de la voiture">
                                            <img class="zoom-image ps-2 w-30 img-fluid" src="/uploads/{{ gallerieImage.img6 }}" alt="image de la voiture">
                                        </div>
                                        
                                            <div class="pt-2 pb-2 ms-4 cadreCaracteristique">
                                                <h6 class="text-center" ><span class="mx-auto">{{ voiture.caracteristique }} </span></h6>
                                            </div>
                                        
                                            

                                    </div>
                                {% endif %}
                            {% endfor %}

                            {#///////////////////////////////////Equipements et Options ////////////////////////////////////#}
                            <div class="col-md-3">
                                <div class="characteristic-box">
                                    <h4 class="text-center" style="color: #000000;">Caractéristiques</h4>
                                    <div class="row">
                                        <div class="col-sm-6 my-3">
                                            <div class=" px-3">
                                            <h6>Équipements</h6>
                                            </div>
                                            
                                            <ul class="">
                                                {% for equipementVoiture in equipementsVoiture %}
                                                    {% if equipementVoiture.IDvoiture == voiture %}
                                                        <li class="small">{{ equipementVoiture.IDequipement }}</li>
                                                        {# <li class="small">{{ equipementVoiture.IDequipement.getNom() }}</li> #}
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="col-sm-6 my-3">
                                            <div class="px-3">
                                                <h6>Options</h6>
                                            </div>
                                            
                                            <ul class="">
                                                {% for optionVoiture in optionsVoiture %}
                                                    {% if optionVoiture.IDvoiture == voiture %}
                                                        <li class="small">{{ optionVoiture.IDoptions }}</li>
                                                        {# <li class="small">{{ optionVoiture.IDoptions.getNom() }}</li> #}
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="separation"></div>
                            
                        </div>

                    {% endif %}
                {% endfor %}
            </div> <!-- Fin de la div col-md-10 -->
    </div>
</div>

    
    <div class="container text-center py-3 bg-light">
         <div class="d-inline-block pb-1 rounded-3 ">
            <h6 class="text-center display-5 h4-title ps-4 pe-4"><strong>Intéréssé par une voiture ?</strong></h6>
        </div>
    </div>

   
    <script>

      
  document.addEventListener('DOMContentLoaded', function() {
    // Fonction de mise à jour des données en fonction des sélections
    function updateData() {
      // Récupère les valeurs des sélections
      var kmValue = document.getElementById('km-select').value;
      var prixValue = document.getElementById('prix-select').value;
      var anneeValue = document.getElementById('annee-select').value;

      // Fais la requête AJAX avec Axios
      axios.post('{{ path('app_gallerie_photos') }}', {
        km: kmValue,
        prix: prixValue,
        annee: anneeValue
      })
        .then(function(response) {
          // Réponse JSON 
          console.log(response.data);
        })
        .catch(function(error) {
          // Erreurs de la requête
          console.error(error);
        });
    }

    // Écoute les changements des boutons "Select" et déclenche la mise à jour des données
    document.getElementById('km-select').addEventListener('change', updateData);
    document.getElementById('prix-select').addEventListener('change', updateData);
    document.getElementById('annee-select').addEventListener('change', updateData);
  

    // Écoute les changements des boutons "Select" et déclenche la mise à jour des données
    document.getElementById('km-select').addEventListener('change', updateData);
    document.getElementById('prix-select').addEventListener('change', updateData);
    document.getElementById('annee-select').addEventListener('change', updateData);
  });

    </script>


{% endblock %}

{% block formulaireClients %}
    <section data-bs-version="5.1" class="">
      <div class="container bg-light py-5">
        <div class="row justify-content-center ">
            <div class="col-lg-7 mx-auto">
              <div class="card">
                <div class="card-body rounded-2 card-color">
                  <div class="mt-4 pt-2">
                    <h2 class="align-center mb-1 text-center bg-light"><strong>Contactez-nous</strong></h2>
                  </div>
                    <form method="POST" action="{{ path('contactClients') }}" class=" mx-auto" data-form-title="Form Name">
                      <input type="hidden" name="email" data-form-email="true" value="">
                      <div class="row">
                          <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Merci de nous avoir contacté</div>
                          <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12"></div>
                      </div>
                      <div class="row">
                        <div class="col-lg-7 col-md-7 col-sm-7 mx-auto my-2">
                            <h6 class="bg-light align-left mb-4 text-center">
                                ( Un membre de notre équipe vous recontactera. )
                            </h6>
                        </div>

                        <div class="col-lg-7 col-md-7 col-sm-7 mx-auto form-group mb-3" data-for="select">
                            <div class="input-group">
                                <select name="selectId" data-form-field="select" class="form-control" id="select-form7-o">
                                <option value="">Référence de l'annonce &#9660;</option>
                                    {% for voiture in voitures %}
                                        {% if not voiture.vendu %}
                                            <option value="{{ voiture.id }}">{{ voiture.reference }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-7 col-md-7 col-sm-7 mx-auto form-group mb-3" data-for="name">
                            <input type="text" name="name" placeholder="Nom" data-form-field="name" class="form-control" value="" required>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 mx-auto form-group mb-3" data-for="name">
                            <input type="text" name="prenom" placeholder="Prénom" data-form-field="prenom" class="form-control" value="" required>
                        </div>

                        <div class="col-lg-7 col-md-7 col-sm-7 mx-auto form-group mb-3" data-for="email">
                            <input type="email" name="email" placeholder="Adresse Email" data-form-field="email" class="form-control" value="" required>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 mx-auto form-group mb-3" data-for="phone">
                            <input type="tel" name="phone" placeholder="Téléphone" data-form-field="phone" class="form-control" value="" required>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 mx-auto form-group mb-3" data-for="message">
                            <input type="tel" name="message" placeholder="Message" data-form-field="message" class="form-control" value="" required style="height: 142px" >
                           
                        </div>
                        <div class="col-lg-7 mx-auto mbr-section-btn align-center">
                            <button type="submit" class="btn btn-dark display-4">Envoyer</button>
                        </div>
                      </div>
                </form>
            </div>
              </div>
              
              
            </div> 
          </div> 
        </div>  
      </div>   
    </div>
  </section>
{% endblock %}



    